.header {
    width: 100%;
    background-color: #e9f7ef;
    display: block;
    height: 200px;
}

.header-item {
    width: 18%;
    background-color: #f5e2ca;
    display: inline-flex;
    height: 200px;
}