<!DOCTYPE html>
<html>
<head>
    <title>Produkti</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-blue w3-card">
        <a href="/" class="w3-bar-item w3-button w3-padding-large">Sākums</a>
        <a href="/veikali" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Veikali</a>
        <a href="/akcijas" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Akcijas</a>
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-padding-large w3-button" title="More">Produkti <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Augļi un dārzeņi</a>
                <a href="#" class="w3-bar-item w3-button">Gaļa un zivis</a>
                <a href="#" class="w3-bar-item w3-button">Piena produkti</a>
                <a href="#" class="w3-bar-item w3-button">Konditoreja</a>
                <a href="#" class="w3-bar-item w3-button">Uzkodas</a>
                <a href="#" class="w3-bar-item w3-button">Dzērieni</a>
            </div>
        </div>
        <a href="/parmums" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Par mums</a>
    </div>
</div>

<div class="body">

    <div class="w3-row-padding w3-padding-16 w3-center">

        <tr th:each="produkts: ${produkti}">
            <a href="/">
                <div class="w3-quarter w3-center">

                    <h1>${produkts.nosaukums}</h1>
                    <h2>${produkts.cena}</h2>
                    <img th:src="@{${'https://storage.cloud.google.com/rtu-projekts-produkti.appspot.com/' + produkts.filename}}" width="120"/>

                </div>
            </a>
        </tr>
    </div>


</div>

</body>
</html>