<!DOCTYPE html>
<html>
<head>
    <title>Produkti</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .button {
            background-color: white;
            border: 3px solid #e7e7e7;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    <script>
        function pievienotGrozam(nosaukums, cenam, kategorija, filename) {
            console.log(produktaNosaukums);

            console.log(produktaCena);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/add-grozs", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                'nosaukums' : produktaNosaukums,
                'cena' : cena,
                'kategorija' : kategorija,
                'filename' : filename
            }));


            console.log("json:");
            console.log(JSON.stringify({
                'nosaukums' : produktaNosaukums,
                'cena' : cena,
                'kategorija' : kategorija,
                'filename' : filename
            }));
        }
    </script>
    <script>
        function pievienotGrozam3(produkts) {
            console.log(produkts);

            console.log(produkts.nosaukums);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/add-grozs", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                produkts
            }));


            console.log("json:");
            console.log(JSON.stringify({produkts}));

        }
    </script>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-blue w3-card">
        <a href="/" class="w3-bar-item w3-button w3-padding-large">Sākums</a>
        <a href="/veikali" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Veikali</a>
        <a href="/akcijas" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Akcijas</a>
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-padding-large w3-button" title="More">Produkti <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/produkti?kategorija=augli-un-darzeni" class="w3-bar-item w3-button">Augļi un dārzeņi</a>
                <a href="/produkti?kategorija=gala-un-zivis" class="w3-bar-item w3-button">Gaļa un zivis</a>
                <a href="/produkti?kategorija=piena-produkti" class="w3-bar-item w3-button">Piena produkti</a>
                <a href="/produkti?kategorija=konditoreja" class="w3-bar-item w3-button">Konditoreja</a>
                <a href="/produkti?kategorija=uzkodas" class="w3-bar-item w3-button">Uzkodas</a>
                <a href="/produkti?kategorija=dzerieni" class="w3-bar-item w3-button">Dzērieni</a>
                <a href="/produkti?kategorija=saldumi" class="w3-bar-item w3-button">Saldumi</a>
                <a href="/produkti?kategorija=saldeti-edieni" class="w3-bar-item w3-button">Saldēti ēdieni</a>
            </div>
        </div>
        <a href="/parmums" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Par mums</a>
    </div>
</div>

<div class="body">

    <div class="w3-row-padding w3-padding-16 w3-center" style="max-width:1200px;margin-top:100px">

        <tr th:each="produkts: ${produkti}">

            <div class="w3-quarter w3-center">

                <img th:src="@{${'https://storage.cloud.google.com/rtu-projekts-produkti.appspot.com/'} + ${produkts.filename}}" width="120"/>
                <h1 th:text="${produkts.nosaukums}"></h1>
                <h4 th:text="${produkts.cena}+'€'"></h4>

                <div class="button"
                     th:onclick="'pievienotGrozam('${produkts.nosaukums}', '${produkts.cena}', '${produkts.kategorija}', '${produkts.filename}\');'" >
                    Pievienot grozam
                </div>

                <div class="button" th:data-name="${produkts}" th:onclick="pievienotGrozam3(this.getAttribute('data-name'))" >Pievienot grozam2</div>
                <div class="button" th:onclick="pievienotGrozam3(${produkts})" >Pievienot grozam3</div>


            </div>

        </tr>
    </div>


</div>

</body>
</html>