<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Veikali</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-blue w3-card">
        <a href="/" class="w3-bar-item w3-button w3-padding-large">Sākums</a>
        <a href="/veikali" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Veikali</a>
        <a href="/akcijas" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Akcijas</a>
        <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-padding-large w3-button" title="More">Produkti <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Augļi un dārzeņi</a>
                <a href="#" class="w3-bar-item w3-button">Gaļa un zivis</a>
                <a href="#" class="w3-bar-item w3-button">Piena produkti</a>
                <a href="#" class="w3-bar-item w3-button">Konditoreja</a>
                <a href="#" class="w3-bar-item w3-button">Uzkodas</a>
                <a href="#" class="w3-bar-item w3-button">Dzērieni</a>
            </div>
        </div>
        <a href="/parmums" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Par mums</a>
    </div>
</div>
<div class="body">

    <div class="w3-row-padding w3-padding-16 w3-center">
        <a href="http://google.com">

        </a>
        <div class="w3-quarter" onclick="">
            <img src="/w3images/salmon.jpg" alt="Salmon" style="width:100%">
            <h3>Dzērieni</h3>
            <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
            <img src="/w3images/sandwich.jpg" alt="Sandwich" style="width:100%">
            <h3>Saldumi</h3>
            <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
        <div class="w3-quarter">
            <img src="/w3images/croissant.jpg" alt="Croissant" style="width:100%">
            <h3>Saldēti ēdieni</h3>
            <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
    </div>


    <tr th:each="veikals: ${veikaluSaraksts}">

        <a href="/">
            <div class="w3-quarter" onclick="">
                <div th:switch="${veikals.name}">
                    <div th:case="'Rimi'">
                        <img src="../static/rimi.jpeg" alt="" style="width:100%">
                    </div>
                    <div th:case="'Maxima'">
                        <img src="../static/maxima.jpeg" alt="" style="width:100%">
                    </div>
                    <div th:case="'Lidl'">
                        <img src="../static/lidl.jpeg" alt="" style="width:100%">
                    </div>
                    <div th:case="'Mego'">
                        <img src="../static/mego.jpeg" alt="${veikals.name}" style="width:100%">
                    </div>
                </div>
            </div>
        </a>

    </tr>

</div>
<div class="footer"></div>


</body>
</html>